[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
confluent-kafka = "*"
minio = "*"
faker = "*"
fastavro = "*"
requests = "*"
apache-flink = "1.17.2"

[dev-packages]

[requires]
python_version = "3.10"
